In [173]:
import os
import numpy as np
import pandas as pd
import pandas_access as mdb

# from optimiz.py import Optimiz

In [157]:
dirName = "HDE_20210117"
fileName = "datasets/%s.mdb"%(dirName)

In [160]:
data_csv = {"table":[], "file": {}}

In [161]:
for tbl in mdb.list_tables(fileName):
    os.makedirs('datasets/%s'%(dirName), exist_ok=True) #create directory
    saveFile = "datasets/%s/data_%s.csv"%(dirName,tbl.lower())
    cmd_command = "mdb-export %s %s > %s"%(fileName,tbl,saveFile)
    !{cmd_command} # Run shell by `!`
#     Load and save file by pandas_access
#     if(tbl != 'Schools'): # Wrong forma#     if(tbl != 'Schools'): # Wrong forma`t
#         data = mdb.read_table(fileName, tbl) # Read file from mdb with table
#         data.to_csv("datas/%s/data_%s.csv"%(dirName,tbl.lower()))
    data_csv['table'].append(tbl)
    data_csv['file'][tbl] = saveFIle

Unrecognized format.

In [162]:
# tuple(data_csv['table'])
data_csv['table']

['Commune',
 'District',
 'ETotal',
 'ExamCentres',
 'Gender',
 'Programs',
 'Province',
 'School_prefix',
 'MorePlaceOfBirth',
 'Schools']

In [163]:
data_etotal_csv = pd.read_csv(data_csv['file']['Schools'])
data_etotal_csv.head()

,PCode,DCode,CCode,Commune,Commune_K,Commune_K_ascii,LOCPCode,LOCDCode,LOCCCode,IsDeleted,DateCreated,LastUpdated,IsActive
0,1,2,1,Banteay Neang,Banteay Neang,066.097.110.116.101.097.121.032.078.101.097.11...,1,102,10201,0,01/12/22 09:24:57,NaN,1
1,1,2,2,Bat Trang,Bat Trang,066.097.116.032.084.114.097.110.103,1,102,10202,0,01/12/22 09:24:57,NaN,1
2,1,2,3,Chamnom,Chamnom,067.104.097.109.110.111.109,1,102,10203,0,01/12/22 09:24:57,NaN,1
3,1,2,4,Kauk Balaing,Kauk Balaing,075.097.117.107.032.066.097.108.097.105.110.103,1,102,10204,0,01/12/22 09:24:57,NaN,1
4,1,2,5,Koy Meng,Koy Meng,075.111.121.032.077.101.110.103,1,102,10205,0,01/12/22 09:24:57,NaN,1