In [65]:
import os
import subprocess
import numpy as np
import pandas as pd
import pandas_access as mdb

from optimiz import Optimiz

In [66]:
dirName = "HDE_20210117"
fileName = "datasets/%s.mdb"%(dirName)

In [67]:
data_csv = {"table":[], "file": {}}

In [68]:

def show_tables(path=fileName):
    tables = subprocess.check_output(["mdb-tables", path])
    return tables.decode().split()

show_tables()

Unrecognized format.

['Commune',
 'District',
 'ETotal',
 'ExamCentres',
 'Gender',
 'Programs',
 'Province',
 'School_prefix',
 'MorePlaceOfBirth',
 'Schools']

In [69]:
dirNameNew = dirName+'_2';
for tbl in mdb.list_tables(fileName):
    os.makedirs('datasets/%s'%(dirNameNew), exist_ok=True) #create directory
    tempFile = "datasets/%s/data_%s.csv"%(dirNameNew,tbl.lower())
    cmd_command = "mdb-export %s %s > %s"%(fileName,tbl,tempFile)
    !{cmd_command} # Run shell by `!`
    data_csv['table'].append(tbl)
    data_csv['file'][tbl] = tempFile

Unrecognized format.

In [95]:
# tuple(data_csv['table'])
data_csv['table']

['Commune',
 'District',
 'ETotal',
 'ExamCentres',
 'Gender',
 'Programs',
 'Province',
 'School_prefix',
 'MorePlaceOfBirth',
 'Schools']

In [104]:
# data_etotal_csv = pd.read_csv(data_csv['file']['Schools'])
for i in data_csv['table']:
    exec("data_{} = pd.read_csv(data_csv['file']['{}'])".format(i.lower(),i))

In [108]:
data_etotal = pd.DataFrame(data_etotal)

data_etotal.head()

,CandID,MCSNumber,PCode,Name,Name_original,Name_Ascii,NameE,DoB,DoB_original,Gender,...,LetterNumber,LetterNumberF,Order,Pass,Grade,SBA_Grade,DateCP,PrintCP,Program,Cand_Type_Code
0,200202069011122000187,1251,20,ស៊ុំ រតនៈ,NaN,159.208.198.032.154.143.147.900,NaN,05/16/03 00:00:00,NaN,12,...,0,0,0,F,F,NaN,NaN,NaN,2,1
1,200514069011122000189,1252,20,ស៊ុំ វាសនា,NaN,159.208.198.032.156.182.341.147.182,NaN,10/20/02 00:00:00,NaN,11,...,0,0,15587,P,C,NaN,NaN,NaN,2,1
2,200406099021122000139,1253,20,ស៊ុំ សាន់,NaN,159.208.198.032.159.182.329.903,NaN,02/20/04 00:00:00,NaN,11,...,0,0,87157,F,F,NaN,NaN,NaN,2,1
3,200401079031122000132,1254,20,ស៊ុំ សុតា,NaN,159.208.198.032.159.187.330.182,NaN,09/02/03 00:00:00,NaN,11,...,0,0,19012,P,D,NaN,NaN,NaN,2,1
4,200805109011122000106,1255,20,ស៊ុំ សុវត្ថ,NaN,159.208.198.032.159.187.343.143.354,NaN,05/04/03 00:00:00,NaN,11,...,0,0,25606,P,D,NaN,NaN,NaN,2,1